/**********************************************************
 * MAIN SITE CSS STYLING									
 **********************************************************/
* {
	box-sizing: border-box;
}
html, body {
    height: 100%;
    min-height: 425px;
    min-width: 950px;
    width: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
main {
	margin-left: 240px;;
	padding: 4%;
	height: 70%;
	width: 85%;
}
h1, h2, h3 {
	font-weight: bold;
}
h1 {
	font-size: 2.25em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}

/**********************************************************
 * HEADER CSS STYLING									
 **********************************************************/
header {
	background-color: #005500;
	border-bottom: 0.2em solid #000000;
	box-shadow: 0em 0.4em 0.4em #555555;
	height: 20%;
	min-height: 120px;
	min-width: 100%;
	width: 100%;
}
header #pagetitle {
	font-size: 3em;
	font-weight: bold;
	padding-left: 2%;
	padding-top: 3%;
	min-width: 50%;
}
header #pagetitle a {
	text-decoration: none;
}
header a, header p, header ul li {
	color: #FFFFFF;
}

/**********************************************************
 * USER NAV BAR CSS STYLING									
 **********************************************************/
#usernav {
	float: right;
	width: 50%;
}
#usernav ul {
	float: right;
	margin-right: 5%;
	min-width: 350px;
	width: 45%;
}
#usernav ul li {
	float: left;
	margin-right: 3%;
}

/**********************************************************
 * MAIN NAV BAR CSS STYLING									
 **********************************************************/
#mainnav {
	background-color: #005500;
	float: left;
	height: 70%;
	min-width: 220px;
	width: 15%;
}

/**********************************************************
 * FOOTER CSS STYLING									
 **********************************************************/
footer {
	background-color: #000000;
	border-top: 1em solid #005500;
	clear: both;
	height: 10%;
	min-height: 50px;
	width: 100%;
}
